.header
{
    color: orchid;

}

.paragraph
{
    font-size : 50px;
}

.name
{
    font-size : 70px;
    color : orangered;
}

.fact1
{
    font-size : 40px;
    color : purple
}

.fact2
{
    font-size : 40px;
    color : lightskyblue
}

.fact3
{
    font-size = 40;
    color : yellow
}